<form [formGroup]="loginForm" (ngSubmit)="login()">
  <p-card header="Ingresar" [style]="{width:'400px'}">

    <div class="field">
      <label for="email">Correo Electronico </label>
      <input type="text"
      pInputText
      class="w-full"
      placeholder="Ingresar Email"
      formControlName="email" />
    </div>

    <small *ngIf="email.invalid && (email.dirty || email.touched)" class="block p-error">
      <div *ngIf="email.hasError('required')">El correo es requerido.</div>
      <div *ngIf="email.hasError('email')">Email no valido.</div>
    </small>

    <div class="field">
      <label for="password">Contraseña</label>
      <p-password
        [toggleMask]="true"
        class="w-full"
        formControlName="password">

      </p-password>

    </div>
    <small *ngIf="password.invalid && (password.dirty || password.touched)" class="block p-error">
      <div *ngIf="password.hasError('required')">La contraseña es requerida.</div>
      <div *ngIf="password.hasError('password')">Contraseña no valida.</div>
    </small>


    <button
    pButton pRipple label="Ingresar"
    class="p-button-success"
    class="w-full"
    [disabled]="!loginForm.valid"
    type="submit"
    ></button>

    <div class="mt-2">
      ¿Ya tienes cuenta? <a routerLink="/register">Registrar</a>
    </div>
  </p-card>



</form>
